.destination{

    &__planets{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0 1.5rem;
        transition: 0.5s;
    
        &__img{
            @include wh(170px);
            animation: rotatePlanet 20s infinite forwards linear;

            @keyframes rotatePlanet {
                from{
                    transform: rotate(0);
                }
                to{
                    transform: rotate(360deg);
                }
            }
        }
    
        &__name{
            color: white;
            @include bellefair(3.5rem);
            font-weight: normal;
        }
    
        &__description{
            color: $light-purple;
            @include barlow(15px);
            font-weight: normal;
            line-height: 25px;
            text-align: center;
        }
    
        &__separator{
            width: 100%;
            height: 1px;
            background-color: #383B4B;
            margin: 2rem 0;
        }

        &__distance, &__travelTime{
            color: $light_purple;
            @include barlow(14px, uppercase);
            letter-spacing: 2.36px;

            &__text{
                margin-top: 0.75rem;
                margin-bottom: 2rem;
                color: white;
                @include bellefair(1.75rem)
            }
        }
    }

    &__switchPlanets{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin: 1.25rem 0;

            

        &__tab{
            color: $light-purple;
            list-style: none;
            @include barlow(14px, uppercase);
            letter-spacing: 2.36px;
            text-decoration: none;
            cursor: pointer;
            transition: 0.25s;

            &:hover{
                text-shadow: 1px 1px 5px white;
            }

            &:after {
                content: '';
                display: block;
                height: 3px;
                width: 0;
                right: 0;
                left: 0;
                margin: 0 auto;
                margin-top: 0.5rem;
                background-color: white;
                transition: 0.5s ease;
            }
        }
    }
}

.activePlanets{
    color: white;
    text-shadow: 1px 1px 5px white;

    &:after {
        width: 100%;
    }
}

.planetTransition{    
    &-enter{
        transform: rotateY(90deg);
        
        &-active{
            transform: rotateY(-30deg);
        }
        &-done{
            transform: rotateY(0);
        }
    }

    &-exit{
        transform: rotateY(0);

        &-active{
            transform: rotateY(-89deg);
        }
        &-done{
            transform: rotateY(-90deg);
        }
    }
}