.home{
    margin-top: 5rem;

    &__text{
        color: white;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0 1.5rem;

        &__h2{
            @include barlow(1rem, uppercase);
            letter-spacing: 2.7px;
            color: $light-purple;
            text-align: center;
            font-weight: normal;
        }
        
        &__h1{
            @include bellefair(80px);
            line-height: 100px;
            text-align: center;
        }

        &__h3{
            @include barlow(1rem);
            text-align: center;
            line-height: 25px;
            color: $light-purple;
            font-weight: normal;
        }
    }

    &__circle{
        @include wh(150px);
        position: fixed;
        border-radius: 50%;
        background-color: white;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
        transform: translateY(50%);
        display: grid;
        place-items: center;
        cursor: pointer;
        text-decoration: none;
        color: $black;

        &__text{
            @include bellefair(1rem);
            margin-bottom: 1.5rem;
            transition: margin 0.5s ease;
        }
    }
}

@media screen and (min-width: 768px) {
    .home{
        margin-top: 6rem;

        &__text{
            gap: 1.25rem;

            &__h2{
              font-size: 1.25rem;  
            }

            &__h1{
                font-size: 150px;
                line-height: 150px;
            }

            &__h3{
                line-height: 28px;
                margin: 0 10.125rem;
                font-size: 1rem;
            }
        }

        &__circle{
                @include wh(242px);
                transform: translateY(0);
                position: relative;
                margin-top: 9.75rem;
                margin-bottom: 90px;

                &__text{
                    @include bellefair(2rem);
                    margin-bottom: 0;
                    transition: margin 0.5s ease;
                }
        }
    }
}

@media screen and (min-width: 1200px) {
    .home{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin: 0 10.25rem;
        margin-top: 9rem;
        margin-bottom: 5rem;

        &__text{
            gap: 1.5rem;
            width: 28.125rem;
            margin: unset;

            &__h2{
                font-size: 1.75rem; 
                text-align: initial;
            }

            &__h1{
                font-size: 150px;
                line-height: 150px;
                text-align: initial;
            }

            &__h3{
                line-height: 28px;
                margin: unset;
                font-size: 1.125rem;
                text-align: initial;
            }
        }

        &__circle{
                @include wh(274px);
                transform: translateY(0);
                position: relative;
                margin: unset;

                &::after{
                    @include wh(450px);
                    content: '';
                    position: absolute;
                    background-color: white;
                    opacity: 0.136;
                    border-radius: 50%;
                    transition: 0.4s ease-in-out;
                    transform: scale(0);
                }

                &:hover:after{
                    transform: scale(1);
                }

                &__text{
                    @include bellefair(2rem);
                    margin-bottom: 0;
                    transition: margin 0.5s ease;
                }
        }
    }
}