.technology{
    
    &__details{
        &__imageContainer{
            width: 100%;
            margin-bottom: 2.125rem;
        }

        &__switchTechnology{
            display: flex;
            list-style: none;
            gap: 1rem;
            justify-content: center;
            margin-bottom: 1.625rem;;

            &__tab{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                @include wh(2.5rem);
                @include bellefair(1rem);
                color: white;
                background-color: transparent;
                cursor: pointer;
                border: 1px solid rgba(255, 255, 255, 0.25);
                box-sizing: border-box;
            }
        }

        &__texts{
            margin: 0 1.5rem;
            text-align: center;
            transition: 0.5s;

            &__terminology{
                color: $light-purple;
                @include barlow(0.875rem, uppercase);
                letter-spacing: 2.37px;
                margin-bottom: 9px;
            }

            &__h2{
                @include bellefair(1.5rem);
                color: white;
                margin-bottom: 1rem;
            }

            &__description{
                color: $light-purple;
                @include barlow(1rem);
                line-height: 1.5rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .technology{
        &__details{
            &__imageContainer{
                margin-bottom: 3.5rem;
            }

            &__switchTechnology{
                margin-bottom: 2.75rem;
    
                &__tab{
                    @include wh(3.75rem);
                    @include bellefair(1.5rem);
                    color: white;
                    background-color: transparent;
                    cursor: pointer;
                    border: 1px solid rgba(255, 255, 255, 0.25);
                    box-sizing: border-box;
                }
            }

            &__texts{
                margin: 0 6.8rem;
                margin-bottom: 6rem;
    
                &__terminology{
                    color: $light-purple;
                    @include barlow(1rem, uppercase);
                    letter-spacing: 2.7px;
                    margin-bottom: unset;
                }
    
                &__h2{
                    @include bellefair(2.5rem);
                    color: white;
                    margin: 1rem 0;
                }
    
                &__description{
                    color: $light-purple;
                    @include barlow(1rem);
                    line-height: 1.5rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .technology{
        &__details{
            display: flex;
            flex-direction: row-reverse;
            width: 90vw;
            float: right;
            align-items: center;
            justify-content: space-between;

            &__imageContainer{
                margin-bottom: unset;
                width: 515px;
                height: 527px;
                background-size: cover;
            }

            &__switchTechnology{
                gap: 2rem;
                flex-direction: column;
                order: 2;
                margin-bottom: unset;
    
                &__tab{
                    @include wh(3.75rem);
                    @include bellefair(1.5rem);
                    color: white;
                    background-color: transparent;
                    cursor: pointer;
                    border: 1px solid rgba(255, 255, 255, 0.25);
                    box-sizing: border-box;
                }
            }

            &__texts{
                text-align: left;
                order: 1;
                margin: 0;
                width: 30rem;
    
                &__terminology{
                    color: $light-purple;
                    @include barlow(1rem, uppercase);
                    letter-spacing: 2.7px;
                    margin-bottom: unset;
                }
    
                &__h2{
                    @include bellefair(3.5rem);
                    color: white;
                    margin: 1rem 0;
                }
    
                &__description{
                    color: $light-purple;
                    @include barlow(1rem);
                    line-height: 1.5rem;
                    width: 95%;
                }
            }
        }
    }
}

.activeTechnology{
    background-color: white;
    color: $black;
    border: none;
}

.technologyTransition{    
    &-enter{
        opacity: 0;
        
        &-active{
            opacity: 1;
        }

        &-done{
            opacity: 1;
        }
    }

    &-exit{
        opacity: 1;

        &-active{
            opacity: 0;
        }

        &-done{
            opacity: 0;
        }
    }
}