* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.header {
  margin: 1.5rem 1.5rem 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 40px;
  height: 40px;
}

.header__hamburger {
  width: 2rem;
  height: 2rem;
  color: #D0D6F9;
  cursor: pointer;
  z-index: 2;
}

.header__nav {
  position: fixed;
  width: 16rem;
  height: 100vh;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: transparent;
  -webkit-backdrop-filter: blur(5rem);
          backdrop-filter: blur(5rem);
  padding-top: 5rem;
  padding-left: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.header__nav__tab {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin-bottom: 2rem;
  color: white;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav__tab__index {
  display: inline-block;
  width: 1.5rem;
}

.activeTab {
  font-weight: bold;
  color: #D0D6F9;
}

.activeTab:after {
  position: absolute;
  content: '';
  height: 2rem;
  width: 4px;
  right: 0;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .header {
    height: 4.5rem;
    margin: 1.5rem 2.5rem 0 2.5rem;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  .header__logo {
    width: 3rem;
    height: 3rem;
  }
  .header__hamburger {
    display: none;
  }
  .header__nav {
    position: absolute;
    width: 450px;
    height: 6rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-top: 0;
    padding-left: 0;
    -webkit-transform: translate(0) !important;
            transform: translate(0) !important;
    padding-top: 2.5rem;
    background-color: rgba(255, 255, 255, 0.04);
  }
  .header__nav__tab {
    margin-bottom: 0;
    display: block;
  }
  .header__nav__tab__index {
    display: none;
  }
  .activeTab {
    font-weight: normal;
    color: white;
  }
  .activeTab:after {
    position: relative;
    content: '';
    height: 3px;
    width: inherit;
    bottom: 0;
    display: block;
    background-color: white;
    margin-top: 34px;
  }
}

.bg-home, .bg-destination, .bg-crew, .bg-technology {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-transition: background-image 0.8s;
  transition: background-image 0.8s;
}

.bg-home {
  background-image: url("../assets/home/background-home-mobile.jpg");
}

.bg-destination {
  background-image: url("../assets/destination/background-destination-mobile.jpg");
}

.bg-crew {
  background-image: url("../assets/crew/background-crew-mobile.jpg");
}

.bg-technology {
  background-image: url("../assets/technology/background-technology-mobile.jpg");
}

.namePage {
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-weight: normal;
  text-align: center;
  margin: 2rem 0;
}

.namePage p {
  font-weight: bold;
  opacity: 0.25;
  display: inline;
  margin-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .namePage {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 3.38px;
    text-align: initial;
    margin: 2.5rem 0 3.75rem 2.5rem;
  }
  .namePage p {
    font-weight: bold;
    margin-right: 1.25rem;
  }
}

.home {
  margin-top: 5rem;
}

.home__text {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin: 0 1.5rem;
}

.home__text__h2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  color: #D0D6F9;
  text-align: center;
  font-weight: normal;
}

.home__text__h1 {
  font-family: 'Bellefair', serif;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 100px;
  text-align: center;
}

.home__text__h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  text-transform: initial;
  text-align: center;
  line-height: 25px;
  color: #D0D6F9;
  font-weight: normal;
}

.home__circle {
  width: 150px;
  height: 150px;
  position: fixed;
  border-radius: 50%;
  background-color: white;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #0B0D17;
}

.home__circle__text {
  font-family: 'Bellefair', serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 1.5rem;
  -webkit-transition: margin 0.5s ease;
  transition: margin 0.5s ease;
}

@media screen and (min-width: 768px) {
  .home {
    margin-top: 6rem;
  }
  .home__text {
    gap: 1.25rem;
  }
  .home__text__h2 {
    font-size: 1.25rem;
  }
  .home__text__h1 {
    font-size: 150px;
    line-height: 150px;
  }
  .home__text__h3 {
    line-height: 28px;
    margin: 0 10.125rem;
    font-size: 1rem;
  }
  .home__circle {
    width: 242px;
    height: 242px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    position: relative;
    margin-top: 9.75rem;
    margin-bottom: 90px;
  }
  .home__circle__text {
    font-family: 'Bellefair', serif;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 0;
    -webkit-transition: margin 0.5s ease;
    transition: margin 0.5s ease;
  }
}

.destination__planets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.destination__planets__transition {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  all: inherit;
}

.destination__planets__img {
  width: 170px;
  height: 170px;
  -webkit-animation: rotatePlanet 20s infinite forwards linear;
          animation: rotatePlanet 20s infinite forwards linear;
}

@-webkit-keyframes rotatePlanet {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotatePlanet {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.destination__planets__name {
  color: white;
  font-family: 'Bellefair', serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: normal;
  font-weight: normal;
}

.destination__planets__description {
  color: #D0D6F9;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 15px;
  text-transform: initial;
  font-weight: normal;
  line-height: 25px;
  text-align: center;
}

.destination__planets__separator {
  width: 100%;
  height: 1px;
  background-color: #383B4B;
  margin: 2rem 0;
}

.destination__planets__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destination__planets__details__distance, .destination__planets__details__travelTime {
  text-align: center;
}

.destination__planets__details__distance__legend, .destination__planets__details__travelTime__legend {
  color: #D0D6F9;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.36px;
}

.destination__planets__details__distance__text, .destination__planets__details__travelTime__text {
  margin-top: 0.75rem;
  margin-bottom: 2rem;
  color: white;
  font-family: 'Bellefair', serif;
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: normal;
}

.destination__switchPlanets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin: 1.25rem 0;
}

.destination__switchPlanets__tab {
  color: #D0D6F9;
  list-style: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.36px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.destination__switchPlanets__tab:hover {
  text-shadow: 1px 1px 5px white;
}

.destination__switchPlanets__tab:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  margin-top: 0.5rem;
  background-color: white;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media screen and (min-width: 768px) {
  .destination {
    margin: 0 6.125rem;
  }
  .destination__planets__img {
    width: 300px;
    height: 300px;
  }
  .destination__planets__name {
    font-family: 'Bellefair', serif;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 0.5rem;
  }
  .destination__planets__description {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    text-transform: initial;
    line-height: 1.75rem;
  }
  .destination__planets__separator {
    margin: 3rem 0 1.75rem 0;
  }
  .destination__planets__details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5rem;
  }
  .destination__switchPlanets {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    gap: 2.25rem;
    width: initial;
    margin: 3.25rem 0 2rem 0;
  }
  .destination__switchPlanets__tab {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2.7px;
  }
}

.activePlanets {
  color: white;
  text-shadow: 1px 1px 5px white;
}

.activePlanets:after {
  width: 100%;
}

.planetTransition-enter {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.planetTransition-enter-active {
  -webkit-transform: rotateY(-30deg);
          transform: rotateY(-30deg);
}

.planetTransition-enter-done {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.planetTransition-exit {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.planetTransition-exit-active {
  -webkit-transform: rotateY(-89deg);
          transform: rotateY(-89deg);
}

.planetTransition-exit-done {
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

.technology__details__imageContainer {
  width: 100%;
  margin-bottom: 2.125rem;
}

.technology__details__switchTechnology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.625rem;
}

.technology__details__switchTechnology__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  font-family: 'Bellefair', serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: normal;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.technology__details__texts {
  margin: 0 1.5rem;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.technology__details__texts__terminology {
  color: #D0D6F9;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2.37px;
  margin-bottom: 9px;
}

.technology__details__texts__h2 {
  font-family: 'Bellefair', serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: normal;
  color: white;
  margin-bottom: 1rem;
}

.technology__details__texts__description {
  color: #D0D6F9;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  text-transform: initial;
  line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
  .technology__details__imageContainer {
    margin-bottom: 3.5rem;
  }
  .technology__details__switchTechnology {
    margin-bottom: 2.75rem;
  }
  .technology__details__switchTechnology__tab {
    width: 3.75rem;
    height: 3.75rem;
    font-family: 'Bellefair', serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.25);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .technology__details__texts {
    margin: 0 6.8rem;
    margin-bottom: 6rem;
  }
  .technology__details__texts__terminology {
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    margin-bottom: unset;
  }
  .technology__details__texts__h2 {
    font-family: 'Bellefair', serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    margin: 1rem 0;
  }
  .technology__details__texts__description {
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    text-transform: initial;
    line-height: 1.5rem;
  }
}

.activeTechnology {
  background-color: white;
  color: #0B0D17;
  border: none;
}

.technologyTransition-enter {
  opacity: 0;
}

.technologyTransition-enter-active {
  opacity: 1;
}

.technologyTransition-enter-done {
  opacity: 1;
}

.technologyTransition-exit {
  opacity: 1;
}

.technologyTransition-exit-active {
  opacity: 0;
}

.technologyTransition-exit-done {
  opacity: 0;
}

.crew__imageContainer {
  width: 20.25rem;
  height: 14rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #383B4B;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.crew__imageContainer__img {
  max-width: 100%;
  max-height: 100%;
}

.crew__SwitchBullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.crew__SwitchBullets__bullet {
  width: 10px;
  height: 10px;
  background-color: #979797;
  border-radius: 50%;
  list-style: none;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.crew__SwitchBullets__bullet:hover {
  background-color: white;
}

.crew__details {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.crew__details__role {
  color: white;
  opacity: 0.5;
  font-family: 'Bellefair', serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.crew__details__name {
  color: white;
  font-family: 'Bellefair', serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.crew__details__bio {
  color: #D0D6F9;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  text-transform: initial;
  line-height: 1.625rem;
  font-weight: normal;
  text-align: center;
  margin: 0 1.5rem;
}

@media screen and (min-width: 768px) {
  .crew {
    display: -ms-grid;
    display: grid;
  }
  .crew__imageContainer {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    height: 100%;
  }
  .crew__SwitchBullets {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 2.5rem 0;
    gap: 1rem;
  }
  .crew__details {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .crew__details__role {
    font-family: 'Bellefair', serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: normal;
  }
  .crew__details__name {
    font-family: 'Bellefair', serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: normal;
  }
  .crew__details__bio {
    margin: 0 9.68rem;
  }
}

.activeBullet {
  background-color: white;
}

.peopleTransition-enter {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
}

.peopleTransition-enter-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.peopleTransition-enter-done {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.peopleTransition-exit {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.peopleTransition-exit-active {
  -webkit-transform: translateX(-149%);
          transform: translateX(-149%);
}

.peopleTransition-exit-done {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}
/*# sourceMappingURL=main.css.map */